body{
	direction: ltr;
}

header#top{
	margin-bottom: 10px;
	background-color: #e6e6e6;
	border-bottom: 0;
}

.fritz-box{
	margin-right: 0;
	margin-left: 0;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	padding: 45px 45px 15px;
	margin: 0 -15px 15px;
	border-style: solid;
}

.fritz-box:after{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "JAAAR";
}

.fritz-highlight{
	margin-top: -16px;
	margin-right: 0;
	margin-left: 0;
	border-width: 1px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	margin: -20px -15px 15px;
	border-radius: 4px;
	padding: 9px 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	min-height: 100px;
}

#fritz-messages{
	padding: 0;
}

#fritz-messages a{
	color: #f90;
}

#fritz-in-proccess{
	background-image: url('../../images/ajax-loader.gif');
	display: none;
	width: 16px;
	height: 11px;
	margin-top: 7px;
}