/*! UIkit 2.22.0 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
input[type="text"],
input[type="password"] {
  text-align: left;
  direction: ltr;
}
input {
  font-size: 16px;
}
::-webkit-input-placeholder {
  text-align: right;
}
:-moz-placeholder {
  text-align: right;
}
::-moz-placeholder {
  text-align: right;
}
:-ms-input-placeholder {
  text-align: right;
}
select.uk-form-large,
textarea.uk-form-large,
input[type].uk-form-large,
input:not([type]).uk-form-large {
  font-size: 12px;
}
@font-face {
  font-family: 'IRANSans';
  src: url('../../fonts/IRANSANSExpanded.eot?#') format('eot'), url('../../fonts/IRANSANSExpanded.woff2') format('woff2'), url('../../fonts/IRANSANSExpanded.woff') format('woff');
  font-weight: normal;
}
body {
  background: #2a2b30;
  font-family: 'IRANSans', Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IRANSans', Tahoma, sans-serif;
}
.iransans {
  font-family: 'IRANSans', Tahoma, sans-serif !important;
}
.uk-notify-message {
  font-size: 10px;
}
.uk-nav-offcanvas ul li.uk-active a {
  color: #e0645c;
}
.uk-nav-offcanvas ul li.uk-disabled a {
  color: #ccc;
}

#current-filter{
  margin-right: 10px;
}
/*.uk-navbar-nav-subtitle {
    div#current-filter,
    img {
        margin-top: -12px;
    }
}*/

figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-grid.source{
  height: 40px;
}
.page {
  min-height: 100vh;
  position: relative;
  background: #E7EAEB;
}
.page-container.uk-container {
  padding: 0;
  max-width: 1600px;
}
.gridgallery .gallery-item .thumbs-inner {
  background-color: #ffffff;
}
.gridgallery .gallery-item .thumbs-inner.preloading {
  background-image: url(../../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center 42%;
}
.gridgallery .gallery-item .thumbs-inner h2 {
  font-size: 13px;
  position: absolute;
  top: 20%;
  width: 100%;
  right: 0;
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail {
  padding: 0;
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs {
  width: auto;
  height: 200px;
  overflow-y: hidden;
  background: #e7eaeb;
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs img {
  background: #eee;
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs img.desaturate:hover {
  -webkit-filter: none;
  filter: none;
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs .source {
  padding: 0 12px 0 0;
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs .source .title {
  line-height: 2.8em;
}
.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs .source button
,.gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs .source a {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 16px;
}

.gridgallery *+.uk-margin-small{
  margin-top: 0px;
}

.actions div button {
  font-size: 10px;
}
.actions div button i {
  font-size: 12px;
}
.actions div button.view-cart {
  background: #666666;
  color: #ffffff;
}
.actions div.Not_Purchasable .purchase,
.actions div.Not_Purchasable .download,
.actions div.Not_Purchasable .price,
.actions div.Not_Purchasable .view-cart {
  display: none;
  pointer-events: none;
}
.actions div.Not_Purchased .download,
.actions div.Not_Purchased .no-pdf,
.actions div.Not_Purchased .view-cart {
  display: none;
  pointer-events: none;
}
.actions div.Not_Purchased.free .purchase,
.actions div.Not_Purchased.free .no-pdf,
.actions div.Not_Purchased.free .view-cart {
  display: none;
  pointer-events: none;
}
.actions div.Not_Purchased.free .download {
  display: inline-block;
  pointer-events: auto;
}
.actions div.In_Cart .purchase,
.actions div.In_Cart .no-pdf,
.actions div.In_Cart .download {
  display: none;
  pointer-events: none;
}
.actions div.Purchased .purchase,
.actions div.Purchased .no-pdf,
.actions div.Purchased .view-cart {
  display: none;
  pointer-events: none;
}
.favourite.unfavoured .remove {
  display: none;
}
.favourite.favoured .add {
  display: none;
}
button.red {
  background: #e0645c;
}
button.green {
  background: #46b98a;
}
button.dark {
  background: #444444;
}
button.blue {
  background: #2db6cf;
}
.bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #191a1b;
  -webkit-transform: translate3d(0, 0, 0);
}
.bar .uk-navbar {
  background: #191a1b;
}
.bar .uk-navbar .uk-navbar-nav {
  float: none;
}
.bar .uk-navbar .uk-navbar-nav li {
  float: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.bar .uk-navbar .uk-navbar-nav li a {
  font-family: 'IRANSans', Tahoma, sans-serif;
  color: #ccc;
}
.bar .uk-navbar .uk-navbar-nav.bottom-nav li.uk-disabled a {
  color: #444;
}
.bar .uk-navbar .uk-navbar-nav.bottom-nav li.uk-active a {
  background: transparent;
  color: #C82032;
}
.bar .uk-navbar .uk-navbar-nav.bottom-nav li.uk-active a:after {
  width: 100%;
}
.bar .uk-navbar .uk-navbar-nav.bottom-nav li a {
  cursor: pointer;
}
.bar .uk-navbar .uk-navbar-nav.bottom-nav li a:after {
  content: "";
  position: absolute;
  bottom: 30px;
  height: 2px;
  background: #C82032;
  width: 0;
  right: 0;
  -webkit-transition: width .5s;
  transition: width .5s;
}
.bar .uk-navbar .uk-navbar-nav.bottom-nav li a:hover {
  background: transparent;
}
.bar .uk-navbar .uk-navbar-nav.bottom-nav li a:hover:after {
  width: 100%;
}
.bar .cart {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  padding: 0 1.195em;
  cursor: pointer;
  color: #abacae;
  border: none;
  background-color: #131415;
}
.bar .cart .count {
  position: absolute;
  top: 50%;
  right: 14px;
  margin: -16px 0 0 0;
  text-align: center;
}
.cart {
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  padding: 22px;
  color: #abacae;
  border: none;
  background-color: transparent;
}
.cart .count {
  position: absolute;
  top: 46%;
  right: 14px;
  margin: -16px 0 0 0;
  text-align: center;
}
.cart:focus {
  outline: none;
}
#offcanvas ul li ul {
  /*display: none;*/
}
#open-datepicker a,
#show-categories a {
  /*padding: 5px 10px;
        font-size: 16px;*/
}
#open-datepicker a i,
#show-categories a i {
  color: #444444;
}
main {
  padding-bottom: 100px;
}
main .sub {
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
}
main .sub .uk-panel-box {
  padding: 5px;
}
main .sub .uk-panel-box.date {
  line-height: 40px;
}
main .sub div {
  background: #ffffff;
}
footer {
  height: 100px;
  position: absolute;
  width: 100%;
  background: #373e43;
  bottom: 0;
  color: #676c70;
}
footer a {
  color: #8e9091;
}
.datebox {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 300px;
  background: #fff;
}
.datebox ol {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.dp-choice::selection,
.dp-choice ol::selection,
.dp-choice ol li::selection,
.dp-choice span::selection {
  background-color: transparent;
}
.dp-choice {
  margin: 5px 0 0;
  /*position: absolute;*/
  top: 90px;
  width: 100%;
  background: #FFF;
}
.dp-choice li {
  background-color: #f7f7f7;
  color: #555555;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 16px;
  padding: 15px 0;
  text-align: center;
}
.dp-years {
  /*box-shadow: 0 0 1px rgba(0, 0, 0, .5);*/
}
.dp-years li {
  width: 33.333333%;
}
.dp-years li:nth-child(2n+2) {
  background-color: #e7eaeb;
}
.dp-years li:hover {
  background-color: #999999;
  color: #ffffff;
}
.dp-months {
  /*box-shadow: 0 0 1px rgba(0, 0, 0, .5);*/
}
.dp-months li {
  width: 33.333333%;
}
.dp-months li:nth-child(2n+2) {
  background-color: #e7eaeb;
}
.dp-months li:hover {
  background-color: #999999;
  color: #ffffff;
}
.dp-yearNav {
  background-color: #666666;
  color: white;
  cursor: pointer;
  display: block;
  height: 15px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.dp-days {
  /*position: relative;*/
  text-align: right;
  vertical-align: top;
  zoom: 1;
}
.dp-days table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 18px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.dp-days th {
  background-color: #666666;
  border: 1px solid #e7eaeb;
  color: #ffffff;
  font-weight: normal;
  padding: 10px;
  pointer-events: none;
}
.dp-days td {
  border: 1px solid #e7eaeb;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
}
.dp-days td:hover {
  background-color: #999999;
  color: #ffffff;
}
.dp-tag {
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-size: 1.1em;
  margin-left: 2%;
  padding: 1% 2%;
}
.dp-tag:hover {
  background-color: #666666;
  color: #ffffff;
}
td.dp-current {
  background: #333333;
  color: #ffffff;
}
li.dp-current {
  background: #333333;
  color: #ffffff;
}
.dp-empty_day {
  background-color: #e7eaeb;
  pointer-events: none;
}
.dp-tagbox {
  border: 1px solid #CACACA;
  background: #FFF;
  color: #444444;
  cursor: text;
  font-size: 1.4em;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  width: 94%;
  height: 30px;
}
.dp-tagbox input {
  background-color: transparent;
  border: none;
  font-size: .8em;
  width: 10%;
}
.dp-tagbox input:focus {
  outline: none;
}
@media (min-width: 480px) {
  .gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs{
    height: 160px;
  }
}

@media (min-width: 1200px) {
  .gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs{
    height: 200px;
  }
}

@media (min-width: 1500px) {
  .gridgallery .gallery-item .thumbs-inner .uk-thumbnail .thumbs{
    height: 240px;
  }
}

@media (max-width: 960px) {
  
  .uk-navbar-nav .uk-navbar-nav-subtitle {
    line-height: 50px;
  }
  .uk-navbar-nav li a {
    height: 50px;
    line-height: 50px;
  }
  .uk-navbar-content,
  .uk-navbar-brand,
  .uk-navbar-toggle {
    height: 45px;
  }

  #current-filter{
    margin-right: 0px;
  }
}
