extends ../layout/guest.jade

block page_title
	span#current-filter همه نشریات
block navbar
	ul#data-switcher(class='bottom-nav uk-navbar-nav')
		li#all.uk-active(data-uk-filter='')
			a(href='#') همه نشریات
		each category, category_index in categories
			li(id='#{category.slug}' data-uk-filter='cat-#{category.id}')
				a(href='#') #{category.title}

block plugins
	.pswp(tabindex='-1', role='dialog', aria-hidden='true')
			.pswp__bg
			.pswp__scroll-wrap
				.pswp__container
					.pswp__item
					.pswp__item
					.pswp__item
				div(class='pswp__ui pswp__ui--hidden')
					.pswp__top-bar
						.pswp__counter
						button(class='pswp__button pswp__button--close', title='Close (Esc)')
						button(class='pswp__button pswp__button--share', title='Share')
						button(class='pswp__button pswp__button--fs', title='Toggle fullscreen')
						button(class='pswp__button pswp__button--zoom', title='Zoom in/out')
						.pswp__preloader
							.pswp__preloader__icn
								.pswp__preloader__cut
									.pswp__preloader__donut
					div(class='pswp__share-modal pswp__share-modal--hidden pswp__single-tap')
						.pswp__share-tooltip
					button(class='pswp__button pswp__button--arrow--left', title='Previous (arrow left)')
					button(class='pswp__button pswp__button--arrow--right', title='Next (arrow right)')
					.pswp__caption
						.pswp__caption__center(class='uk-text-center')


block content
	main
		#loading(style='position: absolute; top: 48px; left: 140px; display: none')
			span در حال بارگزاری
				i(class='uk-icon-spinner uk-icon-spin')
		#results(class='uk-alert uk-alert-warning', style='display: none;') نشریه‌ای پیدا نشد!
		#gridgallery(class='uk-grid uk-grid-small uk-grid-preserve gridgallery uk-margin-left uk-margin-right uk-margin', data-uk-observe)
			- var index = 0
			each category, category_index in categories
				each source, source_index in category.sources
					- var issue = source.issues[0]
					if issue.available 
						div(data-sid='#{source.id}', data-uk-filter='cat-#{category.id}', class='uk-margin-small gallery-item uk-width-1-1 uk-width-large-1-4 uk-width-medium-1-3 uk-width-small-1-2', aria-hidden='false')
							div(class='uk-panel uk-panel-box thumbs-inner preloading')
								h2.uk-text-center #{source.title}
								.uk-thumbnail
									figure.uk-overlay
										.thumbs
											a.linked(href='#{issue.files.image.path}', data-size='#{issue.files.image.meta.width}x#{issue.files.image.meta.height}', data-index='#{index++}', alt='#{source.title}')
												img(width='#{issue.files.image.meta.width}', height='#{issue.files.image.meta.height}', src='#{issue.files.image.path}', alt='#{source.title}', title='#{source.slug}', class='uk-overlay-scale uk-hidden')
											figcaption(class='uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-grid source')
												div(class='uk-width-2-3 title uk-text-middle') #{source.title}
												div(class='uk-width-1-3 uk-text-right')
													.actions
														if issue.files.pdf.path
															a(class='add uk-button', target='_blank' href='#{issue.files.pdf.path}')
																i.uk-icon-file-o
block inline_scripts
	script
		:coffee-script
			(($) ->
				init = ()->
					$gridgallery = $('#gridgallery')
					UIkit.grid $gridgallery, {controls: '#data-switcher', gutter: 0 }
					$('img.uk-overlay-scale').on 'load', ()->
						$this = $(@)
						handleCssAnimation $this, 'uk-animation-fade'
						$this.removeClass('uk-hidden').parents('.thumbs-inner').removeClass('preloading').find('h2').addClass('uk-hidden')
					$('#data-switcher li').find('a').click ()->
						$('#current-filter').text $(this).text()
					$('img.uk-overlay-scale').each ()->
						$this = $(@)
						if $this.complete || $this.height() > 0
							$this.load()

						src = $this.attr('src')
						$this.attr('src', '')
						$this.attr 'src', src
				handleCssAnimation = (itemToAnimate, animationClas)->
					itemToAnimate.addClass(animationClas).one('webkitAnimationEnd oanimationend msAnimationEnd animationend', (e)-> itemToAnimate.removeClass(animationClas))
				
				init()
				initPhotoSwipeFromDOM '.gridgallery'
			) jQuery
