extends ../layout/admin.jade
block content
	.fritz-box
		.row
			form#input-group-multiple-buttons(action='admin/get_issues',method='post')
				.input-group
					input.form-control(type='text', aria-label="...", placeholder="Type your api-key here", readonly, value="#{api_key}")
					.input-group-btn
						button(type='submit', class='btn btn-default') Submit
	.fritz-highlight
		ul#fritz-messages
		#fritz-in-proccess
	script
		:coffee-script
			(($) ->
				lastLogIndex = -1;
				timeout = 0;

				reset = ()->
					clearTimeout timeout
					timeout = 0;
					lastLogIndex = -1;
					$('#fritz-messages').empty()
					$('#fritz-in-proccess').css 'display', 'none'


				getClassAccrodingStatus= (status)->
					status = status.toLowerCase()
					clazz = ''

					switch status
					  when 'error' then clazz = 'danger'
					  when 'fail' then clazz = 'danger'
					  when 'waiting' then clazz = 'info'
					  else clazz = status
					clazz =  'text-'+clazz
						


				addMessage = (status, message, link)->
					message = "<li class='"+getClassAccrodingStatus(status)+"'>"+message
					message += " <a href='"+link+"' target='_blank'>(check response)</a>" if link
					message += "</li>"
					$('#fritz-messages').append message

				addLog = (log)->
					if log.details and 'link' of log.details then link = log.details.link else link = null
					addMessage log.status, '['+( new Date(log.timestamp_ms))+'] '+log.message, link

				getStatus = (request_id)->
					$.ajax {
						type: 'GET',
						url: 'admin/get_request',
						data: {request_id: request_id}
						success: (data)->
							addLog log for log, index in data.logs when index > lastLogIndex
							if data.status is 'Running' then timeout = setTimeout getStatus, 500, request_id 
							else 
								$('#fritz-in-proccess').css 'display', 'none'
								$('form button[type=submit]').attr 'disabled', false

							lastLogIndex = data.logs.length-1
						error: (xhr, status, error)->
							console.log 'Error', xhr, status, error
					}



				$('form').submit (event)->
					reset()
					$this = $(this)
					$.ajax {
						type: $this.attr('method'),
						url: $this.attr('action'),
						success: (data)->
							$('form button[type=submit]').attr 'disabled', true
							if 'request_id' of data
								$('#fritz-in-proccess').css 'display', 'block'
								getStatus data.request_id
							else
								addMessage 'error', status
							
						error: (xhr, status, error)->
							addMessage 'error', status
					}
					return false
			) jQuery
			
