doctype html
html
	head
		block title
			title Jaaar
		block styles
			link(rel='stylesheet', href='/stylesheets/libs/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/restart.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
			script(type='text/javascript' src='javascripts/libs/jquery/core/jquery-2.1.4.min.js')
	body
		block menu
			header#top(class="navbar navbar-static-top", role="banner")
				.container
					.navbar-header
						button(class="navbar-toggle collapsed", type="button", data-toggle="collapse", data-target="#bs-navbar", aria-controls="bs-navbar", aria-expanded="false")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="../", ) FRITZ
					nav#bs-navbar(class="collapse navbar-collapse")
						ul(class="nav navbar-nav")
							li
								a(href="admin") Admin
		.container#content
			.row
				.col-md-12(row="main")
					block content