doctype html
html(dir='rtl' lang='fa')
	head
		link(href='images/favicon.ico', rel='shortcut icon', type='image/x-icon')
		block meta
			meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
			meta(charset='utf-8')
		block title
			title جار
		block styles
			link(rel='stylesheet', href='/stylesheets/uikit.css')
			link(rel='stylesheet', href='/stylesheets/uikit.jaaar.css')
			link(rel='stylesheet', href='/plugins/photoswipe/photoswipe.css')
			link(rel='stylesheet', href='/plugins/photoswipe/default-skin/default-skin.css')
	body.frontpage
		#navigation
			#bar.bar
				nav.uk-navbar
					block navbar
		div(class='uk-container uk-container-center page-container')
			.page
				nav.uk-navbar(data-uk-sticky='{showup:true, animation:"uk-animation-slide-top"}')
					div(class='uk-navbar-content uk-navbar-right')
						a(href='')
							img(class='uk-hidden-medium uk-hidden-small', src='images/logo.png', width='', height='', alt='جار')
							img(class='uk-hidden-large', src='images/logo_smll.svg', width='40', height='40', alt='جار')
						block page_title
				block content
		
		block plugins
		block scripts
			script(type='text/javascript' src='javascripts/libs/jquery/core/jquery-2.1.4.min.js')
			script(type='text/javascript' src='javascripts/uikit.js')
			script(type='text/javascript' src='javascripts/components/grid.min.js')
			script(type='text/javascript' src='javascripts/components/notify.min.js')
			script(type='text/javascript' src='javascripts/libs/jquery/jquery.i18n.min.js')
			script(type='text/javascript' src='plugins/photoswipe/photoswipe.min.js')
			script(type='text/javascript' src='plugins/photoswipe/photoswipe-ui-default.min.js')
			script(type='text/javascript' src='javascripts/guest/photoswipe.js')
		block inline_scripts
			